# See README-hacking for ideas on making these settings useful.
*.texi*		diff=texinfo
ChangeLog	merge=merge-changelog

# Exempt upstream files from whitespace rules.
config.guess	-whitespace
config.sub	-whitespace
elisp-comp	-whitespace
install-sh	-whitespace
mdate-sh	-whitespace
missing		-whitespace
move-if-change	-whitespace
texinfo.tex	-whitespace
fdl.texi	-whitespace
fdl-1.3.texi	-whitespace
make-stds.texi	-whitespace
standards.texi	-whitespace
gendocs.sh	-whitespace
gendocs_template -whitespace
