*.log
*.m4f
*.tmp
*~
.#*
.version
CVS
/ChangeLog
/Fetchdir
/INSTALL
Makefile
Makefile.in
/TAGS
/aclocal.m4
/autoconf-[0-9].*
/autom4te.cache
/bin/autoheader
/bin/autoconf
/bin/autoconf.in
/bin/autom4te
/bin/autoreconf
/bin/autoscan
/bin/autoupdate
/bin/ifnames
/build-aux/elisp-comp
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/mkinstalldirs
/config.cache
/config.log
/config.status
/configure
/configure.scan
/doc/*.??
!/doc/Makefile.am
/doc/*.???
/doc/*.html
/doc/*.info*
/doc/manual
/doc/stamp-vti
/doc/standards
/doc/version.texi
/lib/autom4te.cfg
/lib/autoscan/autoscan.list
/lib/emacs/*.elc
/lib/emacs/elc-stamp
/lib/m4sugar/version.m4
/log
/man/*.[1-9]
/man/autoscan.log
/releases
/tags
/tests/ac*.at
/tests/atconfig
/tests/atlocal
/tests/autoconf
/tests/autoheader
/tests/autom4te
/tests/autoreconf
/tests/autoscan
/tests/autoupdate
/tests/expr
/tests/ifnames
/tests/mktests.stamp
/tests/package.m4
/tests/testsuite
/tests/testsuite.dir
/tests/wrapper.in
