*.AC
*.ACs
*.AT
*.ATs
*.aux
*.cp
*.cps
*.cv
*.cvs
*.dvi
*.ev
*.evs
*.fn
*.fns
*.html
*.htp
*.info*
*.ky
*.log
*.MS
*.MSs
*.ov
*.ovs
*.pdf
*.pg
*.pr
*.prs
*.ps
*.tmp
*.toc
*.tp
*.vr
*.vrs
Makefile
manual
stamp-vti
standards
version.texi
